[defaults]

inventory      = inventory.ini
# log_path = /var/log/ansible.log  ; It should be writeable or (./ansible.log)
; ask_vault_pass = True ; 1. It is executed when not specified on terminal
; vault_password_file=~/.ansible/.mysql_vault
; forks = 8 ; Ansible by default connects 5 servers at a time...called as forks. Here given as 8 means it connects first 8 and then next 8 ansd so on)
; forks defines how many hosts Ansible can manage in parallel during execution...